@use "../abstracts/variables"as *;
@use "../vendors/bootstrap"as *;
@use "../../node_modules/sass-rem/rem"as *;

/* Start The Card Component */
.card {
  &-body {
    .icon {
      width: rem(48px);
      height: rem(48px);

      border: {
        color: rgba($primary, 0.2) !important;
      }

      img {
        @include media-breakpoint-up(lg) {
          border: 1px dashed $secondary;
        }
      }
    }

    .title {
      font: {
        family: "HKGrotesk-Bold", sans-serif;
        size: 1.25rem;
      }

      line: {
        height: div(1.5rem, 1.25rem);
      }

      letter: {
        spacing: $letter-space;
      }

      @include media-breakpoint-up(md) {
        font: {
          size: rem(22px);
        }

        line: {
          height: div(2rem, rem(22px));
        }
      }
    }

    .info {
      line: {
        height: 1.75;
      }

      @include media-breakpoint-up(md) {
        font: {
          size: 1.125rem;
        }

        line: {
          height: div(2rem, 1.125rem);
        }
      }
    }
  }
}

/* End The Card Component */