@font-face {
  src: url("../../assets/webfonts/HKGrotesk-Bold.ttf") format(truetype);
  font-family: "HKGrotesk-Bold";
  font-weight: 700;
}

@font-face {
  src: url("../../assets/webfonts/HKGrotesk-SemiBold.ttf") format(truetype);
  font-family: "HKGrotesk-SemiBold";
  font-weight: 600;
}

@font-face {
  src: url("../../assets/webfonts/HKGrotesk-Regular.ttf") format(truetype);
  font-family: "HKGrotesk-Regular";
  font-weight: 400;
}